.Description > h1{
    color: white;
    font-size: 100%;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Description > p{
    color: rgb(223, 221, 221);
    font-size: 70%;
    font-weight: 300;
    margin-top: 5px;
}

.Description{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 0;
}